<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @inventory.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Carrier plan type:</strong>
  <%= @inventory.carrier_plan_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
